<div class="container-fluid">
    <div class="jumbotron grad mb-0">
        <div class="container text-center">
            <span class="align-middle">
                <div class="row">
                    <div class="col-sm-7">
                        <img class="img-responsive blurimage" src="~/images/jess026.jpg" />
                    </div>
                    <div class="col-sm-5">
                        <h1 class="row"><h1 class="headertext align-items-center">YES <br /> <span class="headersub">TO</span> <br /> JESS</h1></h1>
                        <br />
                        <div class="row">
                            <address class="infoline">
                                Interested in a photo shoot? <br />
                                Contact Jess <a href="mailto:yestojesssa@gmail.com">NOW</a><br>
                            </address>
                        </div>
                    </div>
                </div>
            </span>
        </div>

        <h2 class="col-xs-12 text-primary">
            I am thrilled to announce some upcoming work with 2 talented local Photographers!! We have 2 different concepts that we have been working on, and I am looking forward to the end product!<br /><br />
            If you are interested in booking with me, send me an email, and let's talk!
        </h2>
    </div>
    @* Photos *@
    <div class="container-fluid bg-3 bg-blue bg-primary margin-0-pad-lr text-center">
        <div class="pad-all">
            <h3>Photos by Kevin Washington of Washhboy Photography | Makeup by Stevey Leigh Colonna</h3><br>
            <div class="pad-all">
                <div class="row ">
                    <div class="col-sm-3 align-self-center">
                        @*<p>Some text..</p>*@
                        <img src="~/images/jess001.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        @*<p>Some text..</p>*@
                        <img src="~/images/jess046.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        @*<p>Some text..</p>*@
                        <img src="~/images/jess018.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        @*<p>Some text..</p>*@
                        <img src="~/images/jess049.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                </div>
            </div>
            <div class="pad-all">
                <div class="row">
                    <div class="col-sm-3">
                        @*<p>Some text..</p>*@
                        <img src="~/images/jess021.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        @*<p>Some text..</p>*@
                        <img src="~/images/jess036.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        @*<p>Some text..</p>*@
                        <img src="~/images/jess017.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        @*<p>Some text..</p>*@
                        <img src="~/images/jess007.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                </div>
            </div>
            @*<h3>Photos by Kevin Washington of Washhboy Photography | Makeup by Stevey Leigh Colonna</h3><br>*@
            @*<div class="row">
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="~/images/jess0.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="~/images/jess0.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="~/images/jess0.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="~/images/jess0.JPG" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                </div>*@

        </div>
    </div>
    <div class="text-center jess-footer mar-nil">
        All images subject to copyright. Site by <a href="http://www.guru-solutions.net/">GURU Solutions LLC</a>
    </div>
</div>